{% extends 'base.html' %}
{% block title_extension %} - Home{% endblock %}
{% block preface_body %}
{% include 'header.html' %}
{% endblock %}
{% block content %}

<div class="headingsAdvice">
<h1>Your Path to Wellness Starts Here</h1>

<p>Step into a realm of comprehensive well-being, 
    where personalized guidance and expert insights converge to 
    illuminate your unique health journey. Our platform is designed to 
    empower you with evidence-based knowledge, offering practical tips and
     transformative advice. Join our vibrant community of health enthusiasts and professionals, 
     forging connections that foster growth and shared wisdom. Together, we embark on a journey towards
     holistic well-being, unlocking the secrets to vitality and longevity. Discover the resources you need, tailored 
     to support your individual goals, as we navigate the path to a healthier, happier life."
</p>
<h2>Discover Personalized Health Insights</h2>
</div>




{% endblock %}