  <!---------  Footer  -------->

  <footer>
    <p>Designed by <span id="color-effect">CH Web Solutions&trade;</span></p>
    <div class="icons">
      <a href='https://www.facebook.com/profile.php?id=100090739787424'><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/_.callum._h/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://twitter.com/X"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/callum-henderson-73353226b/"><i class="fa-brands fa-linkedin"></i></a>

    </div>
    <p id="color-effect">&copy; 2024 The Health Advice Group</p>
  </footer>