<!-- This is the main navigation that is found throughout all the pages on the site-->
<header>
  <div class="logo">
    <a href="/" id="color-effect"><i class="fa-solid fa-house-medical"></i>The Health Advice Group</a>
  </div>
  <div class="nav-links" id="navLinks">
    <i class="fa fa-times" onclick="hideMenu()"></i>
    <ul>
      {% if current_user.is_authenticated %}
      <li><a href="{{url_for('weather')}}">Weather</a></li>
      <li><a href="{{url_for('advice')}}">Advice</a></li>
      <li><a href="{{url_for('health')}}">Health Conditions</a></li>
      {% else %}
      <li><a href="/">Home</a></li>
      <li><a href="#jump-about">About Us</a></li>
      <li><a href="#jump-account">Accounts</a></li>
      {% endif %}
    </ul>
  </div>
  </div>
  <div class="buttons">
    {% if current_user.is_authenticated %}
    <!----<a id="logoutDropdown" onclick="logoutDropFunction()"></i>{{ current_user.username}}</a> ---> 
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn"><i class="fa-solid fa-user" id="color-effect"></i>{{ current_user.username}}</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="{{url_for('logout')}}">Logout</a>
      </div>
    </div>  
    {% else %}
    <a href="{{url_for('login')}}"><i class="fa-solid fa-user" id="color-effect"></i>Sign In</a>

    <a href="{{url_for('register')}}">Register</a>
  </div>
  {% endif %}
  <i class="fa fa-bars" onclick='showMenu()'></i>
  </div>
<script src="{{url_for('static', filename = 'js/navbarScript.js')}}"></script>
<script src="{{url_for('static', filename = 'js/dropDownScript.js')}}"></script>
</header>

