{% extends 'base.html' %}
{% block title_extension %} - Home{% endblock %}
{% block preface_body %}
{% include 'header.html' %}
{% endblock %}
{% block content %}

<!--- This is the code for the main headings on the home page-->
<section class="welcomeLanding">
    <div class="headings">
        <h1 class="mainHeading">Healthy Living: Your Guide to Optimal Wellness</h1>
        <h2 class="subHeading">Empowering you with expert advice for a vibrant and balanced life</h2>
    </div>
</section>

<!---This is the about us section of the home page, this section cotains information in relation to the company-->
<section class="aboutUs">
    <div class="about-row">
        <div class="about-col-1">
            <img src="/static/images/healthcareStaff.jpg" alt="Image of Health Care professionals" class="imgBorder">
            <div>
              <h2 id="aboutHeading" class="gradient-underline">About Us</h2>
              <p>At The Health Advice Group, we are dedicated to empowering individuals on their journey 
                towards optimal health and well-being. 
                Our platform serves as a comprehensive resource, providing a wealth of expert advice, 
                personalized recommendations, and a supportive community to guide and inspire our users.
                 We believe that everyone deserves access to reliable health information and a network of 
                 like-minded individuals who can offer guidance and encouragement. With our user-friendly 
                 interface and a vast library of articles, forums, and interactive features, we strive to 
                 create a safe space where individuals can find the information and support they need to 
                 make informed decisions and achieve their health goals. Join our community today and embark
                  on a transformative health journey with us.
            </p>
            </div>
        </div>
    </div>
</section>

<!---This is the testimonials section, this is where we can display client reviews, this is part of the about us section just seperated for ease of design-->
<section class='testimonials'>
    <h1>What Our Clients's Say About Us</h1>
    <div class="row">
      <div class="testimonial-col">
        <img src="/static/images/user1.jpg" >
        <div>
          <p>As someone who values their health and wellness, I'm always on the lookout for reliable 
            sources of information and support. 
            That's why I'm thrilled to have stumbled upon this incredible 
            website by The Health Advice Group! <br><br>
            The user-friendly interface makes navigation a breeze, allowing me to effortlessly explore various
             health topics. The range of articles and expert advice available 
             is impressive, covering everything from nutrition and fitness to mental well-being.
          </p>
          <h3>Christine Berkley</h3>
          <div class='star'>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
          </div>
        </div>
      </div>
      <div class="testimonial-col">
        <img src="/static/images/user2.jpg">
        <div>
          <p>I recently discovered this incredible application by The Health Advice Group, 
            and I must say, it has completely transformed my wellness journey! 
            The platform offers a wealth of valuable information and a supportive community 
            that is always ready to lend a helping hand</p>
          <h3>David Benson</h3>
          <div class="star">
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!---This is the accounts section of the page, this will show the benefits of creating an acount with us-->

<section class="accounts-section">
  <h2>Open Your Free Account today</h2>
  <div class="account-col">
    <p class="accountText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, alias ea odit labore beatae reiciendis. Officiis magni provident excepturi sit, atque officia molestiae veritatis debitis laborum autem aperiam expedita quo.</p>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="/static/images/img_nature_wide.jpg" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="/static/images/img_snow_wide.jpg" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="/static/images/img_mountains_wide.jpg" style="width:100%">
      </div>
      </div>
    </div>
 
  </div>

</section>

<script src="{{url_for('static', filename = 'js/slideshowScript.js')}}"></script>

<!---This is jinja syntax, this extends the footer from the template called footer.html-->
{% endblock %}
{% block postface_body %}
{% include 'footer.html'%}
{% endblock %}



