{% extends 'base.html' %}
{% block title_extension %} - Home{% endblock %}
{% block preface_body %}
{% include 'header.html' %}
{% endblock %}
{% block content %}

<!--- This is the code for the main headings on the home page-->
<section class="welcomeLanding">
    <div class="headings">
        <h1 class="mainHeading">Healthy Living: Your Guide to Optimal Wellness</h1>
        <h2 class="subHeading">Empowering you with expert advice for a vibrant and balanced life</h2>
    </div>
</section>

<!---This is the about us section of the home page, this section cotains information in relation to the company-->
<section class="aboutUs">
    <div class="row">
        <div class="col-1">
            <img src="/static/images/healthcareStaff.jpg" alt="Image of Health Care professionals">
        </div>
        <div class="col-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio, eaque necessitatibus consequatur aliquid officia magnam quisquam, corrupti harum doloremque voluptatibus, ipsum velit possimus soluta aperiam totam fugiat. A, cumque.</p>
        </div>
    </div>
</section>

<!---This is the testimonials section, this is where we can display client reviews, this is part of the about us section just seperated for ease of design-->
<section class='testimonials'>
    <h1>What Our Clients's Say About Us</h1>
    <div class="row">
      <div class="testimonial-col">
        <img src="/static/images/user1.jpg">
        <div>
          <p>As someone who values their health and wellness, I'm always on the lookout for reliable 
            sources of information and support. 
            That's why I'm thrilled to have stumbled upon this incredible 
            website by The Health Advice Group! <br><br>
            The user-friendly interface makes navigation a breeze, allowing me to effortlessly explore various
             health topics. The range of articles and expert advice available 
             is impressive, covering everything from nutrition and fitness to mental well-being.
          </p>
          <h3>Christine Berkley</h3>
          <div class='star'>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
          </div>
        </div>
      </div>
      <div class="testimonial-col">
        <img src="/static/images/user2.jpg">
        <div>
          <p>I recently discovered this incredible application by The Health Advice Group, 
            and I must say, it has completely transformed my wellness journey! 
            The platform offers a wealth of valuable information and a supportive community 
            that is always ready to lend a helping hand</p>
          <h3>David Benson</h3>
          <div class="star">
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
          </div>
        </div>
      </div>
    </div>

    <!---This is the accounts section of the page, this will show the benefits of creating an acount with us-->
  </section>

  <!---This is the testimonials section, this is where we can display client reviews, this is part of the about us section just seperated for ease of design-->


  <!---This is the accounts section of the page, this will show the benefits of creating an acount with us-->


<!---This is jinja syntax, this extends the footer from the template called footer.html-->
{% endblock %}
{% block postface_body %}
{% include 'footer.html'%}
{% endblock %}