{% extends 'base.html' %}
{% block title_extension %} - Home{% endblock %}
{% block preface_body %}
{% include 'header.html' %}
<link href="/styles/base.css?t=1706779414" rel="stylesheet">
<script src="/js/bootstrap.bundle.min.js?t=1706779414"></script>
<script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.min.js"></script>
<link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css" rel="stylesheet" />
<script src="https://cdn.maptiler.com/maptiler-weather/v1.1.0/maptiler-weather.umd.min.js"></script>
{% endblock %}
{% block content %}

<div id="time-info">
    <span id="time-text"></span>
    <button id="play-pause-bt" class="btn btn-primary btn-sm time-button">Play 3600x</button>
    <input type="range" id="time-slider" min="0" max="11" step="1">
</div>

<div id="variable-name">Wind</div>
<div id="pointer-data"></div>
<div id="map">
    <ul id="buttons">
        <li id="precipitation" class="btn btn-primary button">Precipitation</li>
        <li id="pressure" class="btn btn-primary button">Pressure</li>
        <li id="radar" class="btn btn-primary button">Radar</li>
        <li id="temperature" class="btn btn-primary button">Temperature</li>
        <li id="wind" class="btn btn-primary button">Wind</li>
    </ul>
</div>
<script src="{{url_for('static', filename = 'js/weatherScript.js')}}"></script>
{% include 'footer.html'%}
{% endblock %}